.blogBlock {
  display: flex;
  flex-direction: row;
}

.blogText {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #15355F;
  opacity: 1;
  margin: 80px 100px 20px 0;
  text-align: end;
}

.blogAngle {
  width: 60px;
  height: 60px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 15px #00000029;
  opacity: 1;
  border-radius: 30px;
  color: #6E6E6E;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  margin-left: 50px;
  z-index: 1;
}

.blogTitle {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0px;
  color: #15355F;
  opacity: 1;
  text-align: center;
}

.blogTxt {
  font-size: 22px;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  padding: 20px 0;
  text-align: center;
}

.blogBG {
  height: 160px;
  width: 100%;
  background: #A9BFD9 0% 0% no-repeat padding-box;
  opacity: 1;
}

.blogItem {
  width: 430px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 10px #00000029;
  border-radius: 6px;
  opacity: 1;
  margin: 30px 20px;
}

.blogItemHide {
  width: 300px;
  height: 400px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 20px #00000029;
  border-radius: 34px;
  opacity: 0.4;
  margin: 30px 20px;
  padding: 30px 10px;
}

.blogItemInvi {
  width: 300px;
  height: 10px;
}

.ftTitle {
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0px;
  color: #15355F;
  opacity: 1;
  padding: 20px;
}

.blogDetails {
  font-size: 18px;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  padding: 0 70px 10px 20px;
}

.details {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
  font-size: 20px;
  letter-spacing: 0px;
  color: #707070;
  padding: 24px 5%;
  margin: 0 14% 40px 5%;
}

.alice-carousel__stage-item {
  width: 540px !important;
}

@media (max-width: 576px) {
  .blogText {
    font-size: 24px;
  }

  .blogItem {
    width: 250px;
    margin: 0px 0px 10px 30px;
  }

  .blogBG {
    height: 110px;
  }

  .ftTitle {
    font-size: 22px;
    padding: 10px 20px;
  }

  .blogDetails {
    font-size: 14px;
    padding: 0 10px 10px 10px;
  }

  .details {
    font-size: 14px;
    padding: 10px 5%;
  }

  .blogAngle {
    margin-left: 0px;
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 577px) {
  .blogText {
    font-size: 28px;
  }

  .blogItem {
    width: 350px;
    margin: 0px 0px 10px 0px;
  }

  .blogBG {
    height: 140px;
  }

  .ftTitle {
    font-size: 28px;
    padding: 10px 20px;
  }

  .blogDetails {
    font-size: 18px;
    padding: 0 20px 10px 20px;
  }

  .details {
    font-size: 16px;
    padding: 10px 0 10px 10%;
  }

  .blogAngle {
    margin-left: -130px;

  }
}

@media (min-width: 768px) {
  .blogText {
    font-size: 30px;
  }

  .blogItem {
    width: 390px;
    margin: 0px 0px 10px 0px;
  }

  .blogBG {
    height: 140px;
  }

  .ftTitle {
    font-size: 28px;
    padding: 10px 20px;
  }

  .blogDetails {
    font-size: 20px;
    padding: 0 20px 10px 20px;
  }

  .details {
    font-size: 18px;
    padding: 10px 0 10px 10%;
  }

  .blogAngle {
    margin-left: -130px;

  }
}

@media (min-width: 992px) {
  .blogText {
    font-size: 30px;
  }

  .blogItem {
    width: 390px;
    margin: 0px 0px 10px 0px;
  }

  .blogBG {
    height: 140px;
  }

  .ftTitle {
    font-size: 28px;
    padding: 10px 20px;
  }

  .blogDetails {
    font-size: 22px;
    padding: 0 20px 10px 20px;
  }

  .details {
    font-size: 20px;
    padding: 10px 0 10px 10%;
  }

  .blogAngle {
    margin-left: -130px;
  }
}